.DataTableLinkButton{
    color:#01186b;
}


.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {

    background-color: #01186b;
    border-color: #01186b;
}