.DataTableLinkButton{
    color:#180469;
}


.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {

    background-color: #180469;
    border-color: #180469;
}