/* To use CSS - change the namespace name and folder where images are uploaded. Update 'left' positions. */
#list_image {
	background : url(../ui/docs/NS/FieldServiceManagement/status/list_image.png) no-repeat;
	position: absolute;
	top: 5px;
	height : 122px;
	width: 306px;
	left: 0px;
	display: none;
}
#list_gray {
	background : url(../ui/docs/NS/FieldServiceManagement/status/list_gray.png) no-repeat;
	position: absolute;
	top: 5px;
	height : 122px;
	width: 108px;
	left: 0px;
	display: none;
}
#list_title {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 25px;
	width: 380px;
	color: gray;
	text-align: center;
}
#list_txt {
	font-size: 14px;
	height : 160px;
	position: absolute;
	top: 50px;
	width: 380px;
	color: gray;
	text-align: center;
}
#person_image {
	background : url(../ui/docs/NS/FieldServiceManagement/status/person_image.png) no-repeat;
	position: absolute;
	top: 135px;
	height : 122px;
	width: 306px;
	left: 0px;
	display: none;
}
#person_gray {
	background : url(../ui/docs/NS/FieldServiceManagement/status/person_gray.png) no-repeat;
	position: absolute;
	top: 135px;
	height : 122px;
	width: 108px;
	left: 0px;
	display: none;
}
#person_title {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 25px;
	width: 380px;
	color: gray;
	text-align: center;
}
#person_txt {
	font-size: 14px;
	height : 160px;
	position: absolute;
	top: 50px;
	width: 380px;
	color: gray;
	text-align: center;
}
#enroute_image{
	background : url(../ui/docs/NS/FieldServiceManagement/status/enroute_image.png) no-repeat;
	position: absolute;
	top: 265px;
	height : 122px;
	width: 306px;
	left: 0px;
	display: none;
}
#enroute_gray{
	background : url(../ui/docs/NS/FieldServiceManagement/status/enroute_gray.png) no-repeat;
	position: absolute;
	top: 265px;
	height : 122px;
	width: 108px;
	left: 0px;
	display: none;
}
#enroute_title {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 25px;
	width: 380px;
	color: gray;
	text-align: center;
}
#enroute_txt {
	font-size: 14px;
	height : 160px;
	position: absolute;
	top: 50px;
	width: 380px;
	color: gray;
	text-align: center;
}
#technician_image{
	background : url(../ui/docs/NS/FieldServiceManagement/status/technician_image.png) no-repeat;
	position: absolute;
	top: 395px;
	height : 122px;
	width: 306px;
	left: 0px;
	display: none;
}
#technician_gray{
	background : url(../ui/docs/NS/FieldServiceManagement/status/technician_gray.png) no-repeat;
	position: absolute;
	top: 395px;
	height : 122px;
	width: 108px;
	left: 0px;
	display: none;
}
#technician_title {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 25px;
	width: 380px;
	color: gray;
	text-align: center;
}
#technician_txt {
	font-size: 14px;
	height : 160px;
	position: absolute;
	top: 50px;
	width: 380px;
	color: gray;
	text-align: center;
}
#checkbox_image{
	background : url(../ui/docs/NS/FieldServiceManagement/status/checkbox_image.png) no-repeat;
	position: absolute;
	top: 525px;
	height : 122px;
	width: 306px;
	left: 0px;
	display: none;
}
#checkbox_gray{
	background : url(../ui/docs/NS/FieldServiceManagement/status/checkbox_gray.png) no-repeat;
	position: absolute;
	top: 525px;
	height : 122px;
	width: 108px;
	left: 0px;
	display: none;
}
#checkbox_title {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 25px;
	width: 380px;
	color: gray;
	text-align: center;
}
#checkbox_txt {
	font-size: 14px;
	height : 160px;
	position: absolute;
	top: 50px;
	width: 380px;
	color: gray;
	text-align: center;
}
